<div class="container">
  <div class="row">
    <form class="">
      <div class="form-group">
        <label for="email">Email: </label>
        <input
          type="email"
          name="email"
          id='email'
          placeholder='Email...'
          ng-model='register.new.email'
        >
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          id='password'
          placeholder='Password...'
          ng-model='register.new.password'
        >
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password: </label>
        <input
        type="password"
        name="confirmPassword"
        id='confirmPassword'
        placeholder='Confirm Password...'
        ng-model='register.new.confirmPassword'
      >
      </div>
      <div class="form-group">

      </div>

    </form>
  </div>
</div>
