<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <div ng-repeat='member in users.members' class='members'>

      <div class="panel panel-default user-card">
        <div class="panel-heading">
          {{member.username}}
        </div>
        <div class="panel-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-5">
                <img ng-src="{{member.avatar}}" alt="member.username" />
              </div>
              <div class="col-sm-5">
                <p class='lead'>
                  {{member.names.firstName}}
                </p>
                <p>
                  Age: {{member.dob | age}}
                </p>
                <p>
                  Gender(?): {{member.gender}}
                </p>
              </div>
              <div class="col-sm-2">
                <div class="btn-toolbar" role='toolbar'>
                  <ul class='list-unstyled'>
                    <li><div ng-click='users.match(users._id)' class="btn-group fa fa-heart"></div></li>
                    <li><div class="btn-group fa fa-envelope"></div></li>
                    <li><div class="btn-group fa fa-comments"></div></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="media block-update-card">
        <a class="pull-left" href="#">
          <img class="media-object update-card-MDimentions" ng-src="{{member.avatar}}" alt="...">
        </a>
        <div class="media-body update-card-body">
          <h4 class="media-heading">{{member.username}}</h4>
          <div class="btn-toolbar card-body-social" role="toolbar">
            <div ng-click='users.match(users._id)' class="btn-group fa fa-heart"></div>
            <div class="btn-group fa fa-envelope"></div>
            <div class="btn-group fa fa-comments"></div>
          </div>
        </div>
      </div>
      <div class="block-update-card status">
        <div class="update-card-body">
          <div class="update-card-body">
            <h4>Interests: </h4>
            <p><span ng-repeat='interest in member.interestedIn'>{{interest}}, </span></p>
          </div>
        </div>
        <p ui-sref='main.users.detail({id: member._id})' class="text-center card-bottom-status">
          View Details
        </p>
      </div> -->
    </div>
  </div>

  <div class="col-md-8">
    <div ui-view='detail'></div>
  </div>

</div>
