<div class="panel panel-default">
  <div class="panel-heading"><a href="" class="pull-right">View Profile</a> <h4>{{match.username}}</h4></div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="col-md-4">
        <img ng-src="{{match.avatar}}" class="img-circle">
      </div>
      <div class="col-md-4">
        <p class='lead'>
          {{match.names.firstName}} {{match.names.lastName}}
        </p>
        <p>
          Gender: {{match.gender}}
        </p>
        <p>
          Age: {{match.dob | age}}
        </p>
        <p>
          Birthday: {{match.dob | date}}
        </p>
        <p>
          Phone: {{match.phone | tel}}
        </p>
      </div>
      <div class="col-md-4">
        <ul class='list-unstyled'>
          <li><div ng-click='profile.unmatch(match._id)' class="btn-group fa fa-close"></div></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    <p>
      {{match.description || 'This user has not entered a description'}}
    </p>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="bubble bubble-received">
            hello
          </div>
          <div class="bubble bubble-sent pull-right">
            sup
          </div>
        </div>
      </div>
    </div>
    <form ng-submit='profile.sendMessage(profile.user._id, match._id, match.message)' role='form' class='form-horizontal'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Send a message..." ng-model='match.message'>
        <div class="input-group-btn">
          <button type='submit' class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
