body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(http://images.askmen.com/1080x540/dating/dating_advice/top-5-best-dating-apps-1107280-TwoByOne.jpg);
  background-size: 100% 100%;
  opacity: 0.95;
  background-attachment: fixed;
}

.glyphicon-fire {
  color: #d11;
}

.login-parent {
  background-color: #eee;
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}

.divider {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}

.line-divider {
  border-left: 1px solid #bbb;
  height: 180px;
  width: 1px;
  margin: auto;
}

.form-signin {
  display: inline-block;
  width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Users
-------------------------------------------------*/

.user-card .container {
  width: 100%;
}

.user-card .container, .user-card .col-md-5 {
  margin: 0;
  padding: 0;
}

.fa {
  width: 100%;
  height: auto;
  size: 100%;
  font-size: 40px;
}

.fa-heart {
  color: #c11;
  cursor: pointer;
}

.fa-envelope {
  color: #1c1;
  cursor: pointer;
}

.fa-comments {
  color: #15e;
  cursor: pointer;
}

.fa-close {
  cursor: pointer;
}

.details-button:hover {
  cursor: pointer;
  background-color: #eee;
}

/*Deets
-----------------------------------------------------*/

.members {
  padding: 10px;
  height: 100%;
}

.detail-card {
  margin: 10px;
  width: 60%;
  position: fixed;
}

.detail-card img {
  width: 100%;
  height: auto;
}

.detail-card-row {
  padding: 10px;
}

.btn-card {
  margin: 5px;
}

.btn-match {
  background-color: #c11;
}

.btn-email {
  background-color: #1c1;
}

.btn-message {
  background-color: #15e;
}


/*PROFILE
-------------------------------------------------------------*/


html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
}

.nav {
   font-family:Arial,sans-serif;
   font-size:13px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.full{
	padding-top:70px;
}

.box {
  	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;*/

}

.divider {
	margin-top:32px;
}

#main {
   /*background-color:#e9eaed;*/
   padding-left:0;
   padding-right:0;
}
.img-circle {
  width: 100%;
  height: auto;
}

#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}

.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}

.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }
}

.profile-pic {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.profile-panel {
  padding-top: 20px;
}

/*Landing
-------------------------------------------------*/

.navbar-form label{
	font-size:13px;
	font-weight:normal;
}
.navbar-form  .input-sm{
	border-radius:0;
}
legend a{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}

.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#wrap{
		margin-bottom:89px;
	}

	#home{
		margin-top:50px;
	}
	#home .slogan{
		line-height: 29px;
		font-weight:bold;
	}
}

.first-name {
  padding-left: 0;
}

.last-name {
  padding-right: 0;
}

.with-errors {
  color: #b11;
}

.has-error {
  border: 1px solid #b11;
}

.is-valid {
  border: 1px solid #191;
}


/*Bubbles
---------------------------------------------------*/

.bubble {
position: relative;
padding: 5px;
max-width: 200px;
background: #aa3456;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-color: transparent #aa3456;
display: block;
width: 0;
z-index: 1;
top: 15%;
}

.bubble-sent:after {
  border-width: 10px 0 10px 15px;
  right: -10px;
}

.bubble-received:after {
  border-width: 10px 15px 10px 0;
  left: -10px;
}

.bubble-sent {

}

.bubble-received {

}
